@import "/mixins.css";
@import "/variables.css";

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 18px;
}

.container {
    min-height: 100vh;
}

.container,
.canvas-app {
    @mixin big-flex-column;
}

.header,
.footer {
    @mixin flex-center;
    height: $header-footer-height;
    color: white;
    background-color: $blue;
}

.row {
    @mixin big-flex;
    @media all and (orientation: portrait), all and (max-width: 480px) {
        flex-direction: column-reverse;
    }
    &:first-child {
        flex: 3;
    }
    &:last-child {
        flex: 1;
    }
}

.column {
    @mixin big-flex-column;
}

.card {
    @mixin big-flex-column;
    border-collapse: collapse;
    border: 1px solid $blue;
    color: $blue;
}

textarea {
    resize: none;
    overflow: hidden;
    flex: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
    border: none;
    &:focus {
        outline: none;
    }
}
