@define-mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@define-mixin big-flex {
    display: flex;
    flex: 1;
}

@define-mixin big-flex-column {
    @mixin big-flex;
    flex-direction: column;
}
